<!DOCTYPE html>
<html ng-app="myApp">

<head>
    <title>Business Search App</title>
    <script type="text/javascript" src="js/lib/jquery.min.js"></script>
    <script type="text/javascript" src="js/lib/bootstrap.min.js"></script>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="css/styles.css" rel="stylesheet">
</head>

<body ng-controller="MainController">
    <div class="container-fluid">
        <div class="row main">
            <div class="col-md-12">
                <div class="title"><h2>WhoWhatWhere</h2></div>
            </div>
        </div>
        <div class="row">
            <div class ="col-md-12 search-block">
                <form class="form-inline" role="search">
                    <input type="text" id="search" class="form-control" placeholder="Search Item" ng-model="search" required>
                    <div class="form-group">
                        <input type="text" id="city" class="form-control" placeholder="Search city" ng-model="city" required>
                    </div>
                    <div class="form-group">
                        <button type="submit" ng-click="find()" class="btn btn-warning form-control"><span class="glyphicon glyphicon-search"></span> Search</button>
                    </div>
                </form>
            </div>
        </div>

        <div>
            <ng-view></ng-view>
        </div>
    </div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDqrm1LI-8ddEp54fYxIEAP1sF64rc4wMU" async defer></script>
<script type="text/javascript" src="js/lib/angular.min.js"></script>
<script type="text/javascript" src="js/lib/angular-route.min.js"></script>
<script type="text/javascript" src="app.js"></script>
<script type="text/javascript" src="js/controllers/viewDataCtrl.js"></script>
</body>
</html>